/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  font-size: 16px;
  background-color: black;
  color: white;
  overflow-x: hidden;

  /* scrollbar ONLY for mozilla, scrollbar-width - "auto" or "thin"  */
  scrollbar-width: thin;
  scrollbar-color: var(--accent) gray;

}

:root {
  --accent: 200, 0, 0;
  /* #c80000 */

  /* background */
  --backgroundCustom: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 50%, rgb(255, 255, 255) 100%);
}

/* custom scroll bar in body (mobile not work) */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: rgba(var(--accent), 0.6);
  border-radius: 999px;
}



@media (max-width: 500px) {

  html,
  body {
    font-size: 12px;
  }
}